 /*
Name: Kyla Yu-Swanson
CS 132 Spring 2022
Date: June 2022

This is the styles file that keeps the website view consistent across the admin 
page by centering everything.
*/

form, #results {
  margin: auto auto;
  text-align: center;
}

#image {
  border: none;
}
