 /*
Name: Kyla Yu-Swanson
CS 132 Spring 2022
Date: May 10, 2022

This is the CSS file that styles the page showing all the animals available for 
adoption and a single view page when an animal is clicked.
*/

#gallery-view > section, #overview, #overview > article {
  display: flex;
  justify-content: space-around;
}

#gallery-view > p, #gallery-view > section > button, #overview > article > ul {
  text-align: center;
}

#gallery-view > section > button, figure, img, #overview > article > button {
  border-radius: 25px;
}

#overview > article > button, #gallery-view > section > button {
  background-color: rgb(193, 192, 123);
}

/*---------------------------------Gallery-----------------------------------*/
figcaption {
  padding: 5px 0px 0px 0px;
  font-weight: bold;
}

img {
  width: 100%;
}

#gallery-view > section > button > figure {
  margin: 5px;
}

#gallery-view > section {
  flex-wrap: wrap;
}

#gallery-view > section > button {
  width: 25%;
  min-width: 200px;
  padding: 15px;
  align-items: center;
  margin: 15px;
  border: none;
}

/*---------------------------------Single-----------------------------------*/
#single-view > button {
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

#overview, #overview > article{
  width: 50%;
}

#overview, #overview > article > button {
  margin: 0px auto;
}

#overview > article, #overview > article > ul  {
  margin: 0px;
}

#overview > img {
  margin: 0px 0px 0px 25px;
}

#overview > article {
  min-width: 300px;
}

#overview > article > ul {
  list-style: none;
  padding: 0px 10px;
}

#overview > article > button {
  width: 90%;
  height: 60px;
  color: rgb(74, 84, 0);
}

#about {
  margin-top: 20px;
}

#overview > article {
  flex-direction: column;
}

#overview > article > h3 {
  margin-bottom: 0px;
}